@page "/"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <h1>Hangman Game</h1>
                <p class="lead">Try to guess the hidden word before you run out of attempts!</p>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <HangmanGame />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 2rem;
    }
</style>
